body {
    background-color: rgb(50, 100, 110);
    font: normal 18px Arial;
    color: white;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
}
input {
    width: 200px;
    align-self: center;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 18px;
}

h1 {
    text-decoration: underline overline double;
}

#description{
    text-align: justify;
}

#descriptionText {
    text-indent: 40px;
}

#inputs {
    text-align: center;
}